body{
  background: url("../imagenes/Estrella-muerte.jpg");
  margin: 0;
  padding: 0;
  font-family: 'Coustard', serif;
  color: #fff;
}

h1{
  margin: 0;
  padding: 15px;
  background: rgba(73, 38, 139, 0.4);
  font-family: 'Stardos Stencil', cursive;
  text-align: center;
  /*color: #fff;*/
}

.comentarios{
  margin: 20px;
  /*color: #fff;*/
}

#botones{
  padding:20px;
}

button{
  background: rgba(148, 132, 178, 0.5);
  border: none;
  margin: 10px 5px;
  padding: 10px;
  font-family: 'Coustard', serif;
  color: #fff;
}

img{
  height: 15px;
}

textarea{
  display: block;
  background-color:rgba(102,102,102, 0.4);
  margin: 20px 8px;
  color: #fff;
}

#previsualizacion{
  width: 700px;
}
